<ion-header class="ion-no-border">
  <div class="hader">
    <ion-item>
      <ion-button (click)="logout()" fill="clear" slot="start" aria-label="Show/hide">
        <ion-icon color="dark" slot="icon-only" name="exit-outline" aria-hidden="true"></ion-icon>
      </ion-button>
      <h3>Customer Dashboard</h3>
    </ion-item>
  </div>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content">

    <ion-card>
      <ion-card-header>
        <ion-card-title>Search Challan</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Enter Challan No.</ion-label>
          <ion-input [(ngModel)]="challanNO" name="inputValue" required></ion-input>
        </ion-item>

        <ion-button (click)="getChallan()" expand="block" type="submit" class="ion-margin-top">
          Search
        </ion-button>
      </ion-card-content>
    </ion-card>

    <ion-item>
      <ion-input placeholder="Search items" [(ngModel)]="searchTerm" (ionInput)="filterItems()"></ion-input>
    </ion-item>

    <div style="text-align: center;" *ngIf="filteredItems.length === 0">
        <p style="padding-bottom: 10px;">No Data Found</p>
      </div>

    <ion-card *ngFor="let item of filteredItems; let i = index">
      <ion-item button (click)="toggleItem(i)">
          <div slot="start" class="item-title">
            {{ item.partNumber }}

          </div>
          <div slot="end" class="chart">
            <app-chart [chartData]="[item.completedPercent,100-item.completedPercent]"
              [canvasId]="'Customer'+i"></app-chart>
            </div>
            <ion-icon (click)="itemGetSummary(item.id)" slot="end" [name]="item.expanded ? 'chevron-up' : 'chevron-down'"></ion-icon>
      </ion-item>

      <div *ngIf="item.expanded">
        <ion-card-content>
         <div *ngFor="let item of details; let i = index">
           <ion-item >
          <div slot="start" class="item-title">
            {{ item.team }}

          </div>
          <div slot="end" class="chart">
            <app-chart [chartData]="[item.aggregatedPercentage,100-item.aggregatedPercentage]"
              [canvasId]="'details'+i"></app-chart>
            </div>
      </ion-item>
         </div>
        </ion-card-content>
      </div>
    </ion-card>

  </div>

</ion-content>