<ion-header>
  <div class="hader">
    <ion-item lines="none">
      <ion-button (click)="closeModal()" fill="clear" slot="start"
        aria-label="Show/hide">
        <ion-icon color="dark" slot="icon-only" name="arrow-back" aria-hidden="true"></ion-icon>
      </ion-button>
      <h3>Search</h3>


      <ion-button expand="block" fill="clear" slot="end" aria-label="Show/hide" (click)="closeModal()">
        <ion-icon color="dark" slot="icon-only" name="close-outline" aria-hidden="true"></ion-icon>
      </ion-button>
    </ion-item>

    <div>

      <ion-searchbar #searchbar [debounce]="1000" (ionInput)="handleInput($event)">
      </ion-searchbar>
      <!-- Search Results -->
      <ion-list *ngIf="id">
        <ion-item *ngFor="let result of results" (click)="sendItem(result)" >
          <ion-label slot="start">{{ result.partNumber }} ({{ result.status }})</ion-label>
          <!-- <ion-label slot="end">{{ result.status }}</ion-label> -->
        </ion-item>
      </ion-list>
      <ion-list *ngIf="!id">
        <ion-item *ngFor="let result of results" (click)="sendItem(result)" >
          <ion-label slot="start">{{ result.slipNumber }} ({{ result.priority }})</ion-label>
          <!-- <ion-label slot="end">{{ result.priority }}</ion-label> -->
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-header>