<div class="modal-overlay">
  <div class="modal-container">
    <div class="modal-header">
      <h3 (click)="$event.stopPropagation()">Item Flow</h3>
      <ion-button color="dark" fill="clear" slot="end" (click)="closeModal()">
        <ion-icon slot="end" name="close"></ion-icon>
      </ion-button>
      <!-- <ion-by (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </ion-by> -->
    </div>
    <div class="modal-body">
      <div class="modal-container">

        <div class="modal-queantity" *ngIf="isSingle">

          <h3>Enter Quantity Received</h3>

          <h6>{{ itemName }}</h6>
          <div class="modal-input">

            <!-- <ion-input type="number" size="small" fill="outline"   [(ngModel)]="quantity" placeholder="Enter quantity"></ion-input> -->

            <input type="number" [(ngModel)]="quantity" (ngModelChange)="onQuantityChange()" placeholder="Enter quantity" />
            <h6>/ {{ totalQuantity }} pcs</h6>
          </div>
          <!-- <div *ngIf="teams.length > 0" class="team">
            <h6>Setect Team </h6>
            <ion-button *ngFor="let team of teams" (click)="selectTeam(team)" expand="block" fill="outline"
              shape="round" [ngClass]="{'selected': selectedTeam === team, 'notselected': selectedTeam !== team}">
              {{team}}
            </ion-button>
          </div> -->
        </div>

        <div *ngIf="isInwardManager">
          <div class="modal-select" *ngIf="!isSingle">
            <h3>Select Priority </h3>
              <ion-select class="custom-select" [value]="selectedPriority" interface="popover" label-placement="floating"
            shape="round" fill="outline" (ionChange)="selectpriority($event)">
            <ion-select-option *ngFor="let priority of prioritys" [value]="priority">{{ priority }}</ion-select-option>

          </ion-select>
                  
          </div>

          <div class="modal-select">
            <h3>Select Teams</h3>
            <ion-button fill="clear" color="primary" (click)="addSelect()">
              <ion-icon name="add-circle"></ion-icon>
            </ion-button>
          </div>

          <div class="dropdown" *ngFor="let item of selectList; let i = index">

            <!-- First Dropdown -->
            <ion-item (click)="openPopover($event, i)" lines="none" button>
              <ion-buttons class="remove-circle" slot="start">
                <ion-button (click)="removeSelect(i)">
                  <ion-icon name="remove-circle"></ion-icon>
                </ion-button>
              </ion-buttons>
          
              <ion-label>{{ item?.selectedOptionLabel || 'Select Teams' }}</ion-label>
              <ion-icon name="chevron-down" slot="end"></ion-icon>
            </ion-item>
          
            <!-- First Popover -->
            <ion-popover 
              [isOpen]="item.isPopoverOpen"
              (didDismiss)="item.isPopoverOpen = false"
              [event]="item.popoverEvent"
              showBackdrop="true"
            >
              <ng-template>
                <ion-list>
                  <ion-item button *ngFor="let teams of teams2" (click)="selectOption(teams, i)">
                    {{ teams }}
                  </ion-item>
                </ion-list>
              </ng-template>
            </ion-popover>
          
            <!-- Conditionally render Second Dropdown -->
            <ion-item *ngIf="PaintDescriptionlist[i]?.length" (click)="openSecondPopover($event, i)" lines="none" button>
              <ion-label>
                {{ selectList2[i]?.selectedOptionLabel || 'Select description' }}
              </ion-label>
              <ion-icon name="chevron-down" slot="end"></ion-icon>
            </ion-item>
          
            <!-- Second Popover -->
            <ion-popover 
              *ngIf="PaintDescriptionlist[i]?.length"
              [isOpen]="selectList2[i]?.isPopoverOpen"
              [event]="selectList2[i]?.popoverEvent"
              (didDismiss)="selectList2[i].isPopoverOpen = false"
              showBackdrop="true"
            >
              <ng-template>
                <ion-list>
                  <ion-item 
                    button 
                    *ngFor="let desc of PaintDescriptionlist[i]" 
                    (click)="selectSecondOption(desc, i)">
                    {{ desc.name }}
                  </ion-item>
                </ion-list>
              </ng-template>
            </ion-popover>

             <!-- Conditionally render third Dropdown -->
            <ion-item *ngIf="this.paintDescriptionColors[i]?.length" (click)="openThirdPopover($event, i)" lines="none" button>
              <ion-label>
                {{ selectList3[i]?.selectedColor || 'Select color' }}
              </ion-label>
              <ion-icon name="chevron-down" slot="end"></ion-icon>
            </ion-item>
          
            <!-- third Popover -->
            <ion-popover 
              *ngIf="this.paintDescriptionColors[i]?.length"
              [isOpen]="selectList3[i]?.isPopoverOpen"
              [event]="selectList3[i]?.popoverEvent"
              (didDismiss)="selectList3[i].isPopoverOpen = false"
              showBackdrop="true"
            >
              <ng-template>
                <ion-list>
                  <ion-item 
                    button 
                    *ngFor="let desc of this.paintDescriptionColors[i]" 
                    (click)="selectSecondThirdOption(desc, i)">
                    {{ desc }}
                  </ion-item>
                </ion-list>
              </ng-template>
            </ion-popover>
          
          </div>
        </div>
      </div>

      <div class="modal-actions">
        <ion-button class="close-btn" shape="round" (click)="closeModal()">
          Cancel
        </ion-button>
        <div>
        
          <ion-button  class="submit-btn" shape="round" (click)="submitQuantity()">
            Submit
          </ion-button>

        </div>
      </div>
    </div>
  </div>
</div>