<ion-header>
  <div class="hader">
    <ion-item>
      <ion-button (click)="isSearchbarVisible?toggleSearch():backToOrderPage()" fill="clear" slot="start"
        aria-label="Show/hide">
        <!-- <ion-icon name="arrow-back"></ion-icon> -->
        <ion-icon color="dark" slot="icon-only" name="arrow-back" aria-hidden="true"></ion-icon>
      </ion-button>
      <h3 *ngIf="isSearchbarVisible">Search</h3>
      <h3 *ngIf="!isSearchbarVisible">{{pageTitles}} {{slipNumber}}</h3>

      <ion-button *ngIf="!isSearchbarVisible" fill="clear" slot="end" aria-label="Show/hide" (click)="toggleSearch()">
        <ion-icon color="dark" slot="icon-only" name="search" aria-hidden="true"></ion-icon>
      </ion-button>

      <ion-button fill="clear" slot="end" aria-label="Show/hide">
        <ion-icon color="dark" slot="icon-only" name="filter-outline" aria-hidden="true"></ion-icon>
      </ion-button>

    </ion-item>
  </div>
</ion-header>
<ion-content [fullscreen]="true">


  <div>
    <ion-searchbar *ngIf="isSearchbarVisible" [debounce]="1000" (ionInput)="handleInput($event)">
    </ion-searchbar>
    <!-- Search Results -->
    <ion-list *ngIf="isSearchbarVisible">
      <ion-item *ngFor="let result of results">
        <ion-label>{{ result }}</ion-label>
      </ion-item>
    </ion-list>


    <ion-list *ngIf="!isSearchbarVisible">

      <ion-card *ngFor="let item of RequisitionItemLists; let i = index">
        <ion-card-content>
          <div class="card-content">
            <ion-checkbox [(ngModel)]="this.itemChecked[i]" labelPlacement="end" (ionChange)="openModal(i,item) ">
            </ion-checkbox>

            <div>
              <ion-thumbnail (click)="openImgModal(item,i)">
                <img alt="item Image" [src]="getImageSrc(i)" />
              </ion-thumbnail>
            </div>
            <div (click)="openModal(i,item)">
              <div style="display: flex;">
                <h5>{{ item.partNumber | uppercase }} ({{item.color}})</h5>
                <ion-badge style="margin-left: 20px;" [ngStyle]="{'background-color': getBadgeColor(item.priority)}">{{
                  item.priority }}</ion-badge>
              </div>
              <h6>{{ item.partDesciption | uppercase }}</h6>
              <h6 *ngIf="usereRole === 'Inward Manager'">
                Qty:{{UpdatedItemLists[i]?.quantity?UpdatedItemLists[i]?.quantity:0 }}/{{ item.quantity }} pcs</h6>
              <h6 *ngIf="usereRole !== 'Inward Manager'">
                Qty:{{UpdatedItemLists[i]?.quantity?UpdatedItemLists[i]?.quantity:0 }}/{{ item.curretProcess.quantity }}
                pcs</h6>
            </div>
          </div>
          <!-- Hidden file input element -->
          <!-- <input #fileInput type="file" accept="image/*" multiple style="display:none" (change)="onImageSelected($event, i)"> -->
          <div class="dropdown" *ngIf="usereRole === 'Inward Manager'">
            <ion-select [disabled]="!itemChecked[i]" class="custom-select" [value]="UpdatedItemLists[i].priority"
              interface="popover" label-placement="floating" shape="round" fill="outline"
              (ionChange)="onStatusChange($event, i)">
              <ion-select-option value="High">High</ion-select-option>
              <ion-select-option value="Medium">Medium</ion-select-option>
              <ion-select-option value="Low">Low</ion-select-option>
            </ion-select>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-list>

  </div>

  <ion-infinite-scroll *ngIf="!finalPage" (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <!-- <ion-modal class="image-modal" [isOpen]="isModalOpen" [backdropDismiss]="false">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="isModalOpen = false" fill="clear" aria-label="Show/hide">
            <ion-icon color="dark" slot="icon-only" name="close-sharp" aria-hidden="true"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title>{{ partDesciption }}</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <div class="image">
        <ion-grid>
          <ion-row>
            <ion-col size="2" *ngFor="let image of images; let i = index">
              <div class="image-container">
                <img [src]="image.compressedUrl" (click)="openSwiper(images)" />
                <ion-icon name="close-circle-outline" (click)="removeImage(i)"></ion-icon>
              </div>
            </ion-col>
            <ion-col size="2">
              <label class="upload-btn">
                <ion-icon name="add-outline"></ion-icon>
                <input type="file" (change)="onFileSelected($event)" accept="image/*" multiple hidden />
              </label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-content>
  </ion-modal> -->

  <!-- <app-received-modal [isOpen]="isModalOpen" [totalQuantity]="totalQuantity" [index]="index" [itemName]="partDesciption"
    [getquantity]="quantity" (dismiss)="isModalOpen = false" (quantitySubmitted)="handleQuantitySubmitted($event)">
  </app-received-modal> -->
</ion-content>

<ion-modal mode="ios" class="priority-modal" [isOpen]="isModalOpen" (didDismiss)="isModalOpen = false">
  <ng-template>
    

    <ion-footer style="padding: 0;">
      <ion-item lines="none">
        <h3><b>Select Priority</b></h3>
      </ion-item>

      <ion-item *ngFor="let team of priority" lines="none">
        <ion-button class="custom-select" expand="block" shape="round" fill="outline" size="large"
          [class.selected]="team === selectedPriority" (click)="selectPriority(team)">
          <b>{{ team }}</b>
        </ion-button>
      </ion-item>
      <div class="accept-btn" style="display: flex; width: 100%;">
        <ion-button style="width:100%" shape="round" size="large" expand="block" slot="start" aria-label="accept" (click)="isModalOpen = false">
          Cancle
        </ion-button>
        <ion-button style="width:100%" shape="round" size="large" expand="block" slot="start" aria-label="accept" (click)="submit()">
          Submit
        </ion-button>
      </div>
    </ion-footer>
  </ng-template>
</ion-modal>



<ion-footer>
  <div class="accept-btn">
    <ion-button [disabled]="disabledAcceptItems()" *ngIf="usereRole == 'Executive'" shape="round" size="large"
      expand="block" slot="start" aria-label="accept" (click)="acceptItems()">
      Accept Items
    </ion-button>
    <ion-button [disabled]="disabledAcceptItems()" *ngIf="usereRole == 'Inward Manager'" shape="round" size="large"
      expand="block" slot="start" aria-label="accept" (click)="acceptItems()">
      Select Priority and Accept Items
    </ion-button>
  </div>
</ion-footer>