ion-select::part(icon) {
//   color: var(--ion-color-medium);
    display: none;
}
.changePassword{
    ion-button{

        --background: #A52B54;  /* Apply color to button background */
        --color: white;         /* Apply text color inside the button */
    }
  }