<div>
<ion-header>
  <ion-toolbar>
    <ion-title>Change Password</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- <ion-content class="ion-padding"> -->
  <div style="margin: 15px;">
  <!-- Select User -->
  <ion-item>
    <ion-select [label]="'Select User'" placeholder="Select User" interface="popover" [(ngModel)]="selectedUser" (ionChange)="onStatusChange($event)">
        <ion-select-option *ngFor="let user of userList" [value]="user">
          {{ user?.name }} ({{ user?.team }})
        </ion-select-option>
      </ion-select>
  </ion-item>
  <ion-text color="danger" *ngIf="submitted && !selectedUser">
    <p class="ion-padding-start">Please select a user.</p>
  </ion-text>

  <!-- New Password -->
  <ion-item>
      <ion-input type="password" [label]="'New Password'" [(ngModel)]="newPassword" 
        name="newPassword"></ion-input>
  </ion-item>
  <ion-text color="danger" *ngIf="submitted && !newPassword">
    <p class="ion-padding-start">Please enter a new password.</p>
  </ion-text>
  <ion-text color="danger" *ngIf="submitted && newPassword && newPassword.length < 6">
    <p class="ion-padding-start">Password must be at least 6 characters long.</p>
  </ion-text>

  <!-- Confirm Password -->
  <ion-item>
      <ion-input type="password" label="Confirm Password" [(ngModel)]="confirmPassword" name="confirmPassword"></ion-input>
  </ion-item>
  <ion-text color="danger" *ngIf="submitted && !confirmPassword">
    <p class="ion-padding-start">Please confirm your password.</p>
  </ion-text>

  <!-- Mismatch Error -->
  <ion-text color="danger" *ngIf="submitted && mismatch">
    <p class="ion-padding-start">Passwords do not match.</p>
  </ion-text>

  <!-- Submit Button -->
   <div class="changePassword">
    <ion-button (click)="onSubmit()" expand="full" type="submit" size="large" expand="block" shape="round">
      Change Password
    </ion-button>
   </div>
</div>