<ion-header>
  <div class="hader">
    <ion-item>
      <ion-button fill="clear" slot="start" aria-label="Show/hide" (click)="logout()">
        <ion-icon *ngIf="usereRole !== 'Admin' && usereRole !== 'QA'" color="dark" slot="icon-only" name="exit-outline" aria-hidden="true"></ion-icon>
        <ion-icon *ngIf="usereRole == 'Admin' || usereRole == 'QA' " color="dark" slot="icon-only" name="arrow-back" aria-hidden="true"></ion-icon>
      </ion-button>
      <h3>{{pageTitles}}</h3>
      <ion-button fill="clear" slot="end" aria-label="Show/hide" id="popover-button">
        <ion-icon color="dark" slot="icon-only" name="funnel" aria-hidden="true"></ion-icon>
      </ion-button>
    </ion-item>
  </div>
  <div class="content" style="background: white;">
    <ion-segment [value]="segmentValue"  (ionChange)="segmentChange($event)">
    <ion-segment-button value="Active" *ngIf="usereRole == 'Executive' || usereRole == 'Admin'" >
      <ion-label>Active</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Completed" *ngIf="usereRole == 'Executive' || usereRole == 'Admin'">
      <ion-label>Completed</ion-label>
    </ion-segment-button>
    <ion-segment-button value="InQueue" *ngIf="usereRole == 'Executive' || usereRole == 'Admin'">
      <ion-label>In Queue</ion-label>
    </ion-segment-button>
    <ion-segment-button value="UnAssigned" *ngIf="usereRole == 'Inward Manager'">
      <ion-label>Un-Assigned</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Assigned" *ngIf="usereRole == 'Inward Manager'">
      <ion-label>Assigned</ion-label>
    </ion-segment-button>
    <ion-segment-button value="InQueueQA" *ngIf="usereRole == 'QA'">
      <ion-label>In Queue</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Rejected" *ngIf="usereRole == 'QA'">
      <ion-label>Rejected</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Approved" *ngIf="usereRole == 'QA'">
      <ion-label>Approved</ion-label>
    </ion-segment-button>
    
  </ion-segment></div>
</ion-header>
<ion-content [fullscreen]="true">
  

  <ion-popover trigger="popover-button" [dismissOnSelect]="true"  side="bottom" alignment="start" >
    <ng-template>
      <ion-content>
        <ion-list>
          <ion-item [button]="true" [detail]="false">Challan No (Newest First)</ion-item>
          <ion-item [button]="true" [detail]="false">Challan No (Oldest First)</ion-item>
          <ion-item [button]="true" [detail]="false">Accepted Date(Close to Now)</ion-item>
          <ion-item [button]="true" [detail]="false">Accepted Date(Farthest to Now)</ion-item>
          <ion-item [button]="true" [detail]="false">Completion Status(0% to 100)</ion-item>
          <ion-item [button]="true" [detail]="false">Completion Status(100% to 0)</ion-item>

        </ion-list>
      </ion-content>
    </ng-template>
  </ion-popover>

  <div class="content">
    
    <div>
      <div *ngIf="segmentValue == 'Active'">
        <ion-list class="main-list">
          <div style="text-align: center;" *ngIf="activeList.length === 0">
            <p>No Data Found</p>
          </div>
          <ion-card *ngFor="let item of activeList; let i = index">
            <ion-card-content>
              <div class="short-view" (click)="activityListPage(item.requisitionId ,item?.slipNumber )">

                <div class="id-no border">
                  <div class="priority">
                  <h5>Challan No. {{item.slipNumber}} 
                    
                  </h5>
                  <ion-badge [ngStyle]="{'background-color': getBadgeColor(item.priority)}">{{ item.priority }}</ion-badge>
                </div>

                  <div class="accept">
                    <p>Accepted on </p>
                    <h6>{{item.completedDate | date:'mediumDate'}}</h6>
                    <!-- <p class="margin-side">|</p> <p>Approved: </p> <h6>{{'20'}}</h6>
                    <p class="margin-side">|</p> <p>Rejected: </p> <h6 class="rejeced-item">{{'50'}}</h6> -->
                  </div>
                </div>
                <div class="card-end">
                  <div class="chart">
                    <app-chart [chartData]="[item.completedPercent,100-item.completedPercent]" [canvasId]="'Active'+i"></app-chart>
                  </div>
                  <div class="card-end">
                    <ion-button *ngIf="isItemExpanded(i)" (click)="toggleItemView($event, i)" fill="clear" slot="end" aria-label="Show/hide">
                      <ion-icon color="dark" slot="icon-only" name="chevron-up" aria-hidden="true"></ion-icon>
                    </ion-button>
                    <ion-button *ngIf="!isItemExpanded(i)" (click)="toggleItemView($event, i, item.requisitionId,item.team)"  fill="clear" slot="end" aria-label="Show/hide">
                      <ion-icon color="dark" slot="icon-only" name="chevron-down" aria-hidden="true"></ion-icon>
                    </ion-button>
                  </div>
                </div>

              </div>

              <div class="long-view" *ngIf="isItemExpanded(i)">
                <ion-list>
                  <ion-grid>
                    <ion-row *ngFor="let item of activeListItems[i]; let j = index">
                      <ion-col size="7" >{{j+1}}. {{ item.partDesciption }}</ion-col>
                    <ion-col size="" class="type">
                      <h6 class="type" [ngClass]="item.qcApprovedQuantity < item.quantity ? 'In-Progress' : 'Completed'">
                        {{ item.curretProcess.statusName ? item.curretProcess.statusName : 'Not Started' }}
                      </h6></ion-col>
                    <ion-col size="2">
                      <h6 class="quantity">{{ item.qcApprovedQuantity?item.qcApprovedQuantity:0 }} / {{ item.quantity }}</h6>
                    </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-list>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-list>
      </div>
      <div *ngIf="segmentValue == 'Completed'" >
        <ion-list class="main-list">
          <div style="text-align: center;" *ngIf="completedList.length === 0">
            <p>No Data Found</p>
          </div>
          <ion-card *ngFor="let item of completedList; let i = index">
            <ion-card-content>
              <div class="short-view">

                <div class="id-no border">
                  <div style="display: flex;">
                    <h5>Challan No. {{item.slipNumber}}</h5>
                    <ion-badge style="margin-left: 20px;" [ngStyle]="{'background-color': getBadgeColor(item.priority)}">{{ item.priority }}</ion-badge>
                  </div>
                  <div class="accept">
                    <p>Accepted on </p>
                    <h6>{{item.completedDate | date:'mediumDate'}}</h6>
                  </div>
                </div>
                <div class="card-end">
                  <ion-button *ngIf="isItemExpanded(i)" (click)="toggleItemView($event, i)" fill="clear" slot="end" aria-label="Show/hide">
                    <ion-icon color="dark" slot="icon-only" name="chevron-up" aria-hidden="true"></ion-icon>
                  </ion-button>
                  <ion-button *ngIf="!isItemExpanded(i)" (click)="toggleItemView($event, i, item.requisitionId,item.team)"  fill="clear" slot="end" aria-label="Show/hide">
                    <ion-icon color="dark" slot="icon-only" name="chevron-down" aria-hidden="true"></ion-icon>
                  </ion-button>
                </div>

              </div>

              <div class="long-view" *ngIf="isItemExpanded(i)">
                <ion-list>
                  <ion-grid>
                    <ion-row *ngFor="let item of completedListItems[i]; let j = index">
                      <ion-col size="8">{{j+1}}. {{ item.partDesciption }}</ion-col>
                      <ion-col size="2" class="type">
                        <h6 class="type">{{ 'Completed' }}</h6>
                      </ion-col>
                      <ion-col>
                        <h6 class="quantity">{{ item.quantity }}</h6>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-list>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-list>
      </div>
      <div *ngIf="segmentValue == 'InQueue'" >
        <ion-list class="main-list">
          <div style="text-align: center;" *ngIf="inQueueList.length === 0">
            <p>No Data Found</p>
          </div>
          <ion-card  *ngFor="let item of inQueueList; let i = index">
            <ion-card-content>
              <div class="short-view" >
    
                <div class="id-no border"  [ngClass]="getRequisitionColor(item.completedPercent)">
                  <div style="display: flex;">
                    <h5>Challan No. {{item.slipNumber}}</h5>
                    <ion-badge style="margin-left: 20px;" [ngStyle]="{'background-color': getBadgeColor(item.priority)}">{{ item.priority }}</ion-badge>
                  </div>

                  <div class="accept">
                    <p>Assigned to  </p>
                    <h6>{{item.team }}</h6>
                    <p style="margin-left: 5px;">on</p>
                    <h6>{{item.assignedDate | date:'mediumDate'}}</h6>
                  </div>
                </div>
                <div class="card-end">
                  <ion-button *ngIf="usereRole !== 'Admin'" class="accept-btn" (click)="requisitionListPage(item.requisitionId, item?.slipNumber)"  fill="outline" shape="round" slot="end" aria-label="Show/hide">
                    Accpet Order
                  </ion-button>
                  <ion-button *ngIf="isItemExpanded(i)" (click)="toggleItemView($event, i)" fill="clear" slot="end" aria-label="Show/hide">
                    <ion-icon color="dark" slot="icon-only" name="chevron-up" aria-hidden="true"></ion-icon>
                  </ion-button>
                  <ion-button *ngIf="!isItemExpanded(i)" (click)="toggleItemView($event, i, item.requisitionId,item.team)"  fill="clear" slot="end" aria-label="Show/hide">
                    <ion-icon color="dark" slot="icon-only" name="chevron-down" aria-hidden="true"></ion-icon>
                  </ion-button>
                </div>
    
              </div>
    
              <div class="long-view" *ngIf="isItemExpanded(i)">
                <ion-list>
                  <ion-grid>
                    <ion-row *ngFor="let item of inQueueListItems[i]; let j = index">
                      <ion-col size="8">{{j+1}}. {{ item.partDesciption }}</ion-col>                   
                      <ion-col>
                        <h6 class="quantity">{{ item.quantity }}</h6>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-list>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-list>
      </div>
      <div *ngIf="segmentValue == 'UnAssigned'">
        <ion-list class="main-list">
          <div style="text-align: center;" *ngIf="unAssignedList.length === 0">
            <p>No Data Found</p>
          </div>
          <ion-card *ngFor="let item of unAssignedList; let i = index">
            <ion-card-content>
              <div class="short-view">

                <div class="id-no" style= "border-left: 4px solid #A52B54">
                  <div style="display: flex;">
                    <h5>Challan No. {{item.slipNumber}}</h5>
                    <ion-badge style="margin-left: 20px;" [ngStyle]="{'background-color': getBadgeColor(item.priority)}">{{ item.priority }}</ion-badge>
                  </div>
                  <div class="accept">
                    <p>Accepted on </p>
                    <h6>{{item.createdDate | date:'mediumDate'}}</h6>
                  </div>
                </div>
                <div class="card-end">
                  <ion-button class="accept-btn" (click)="requisitionListPage(item.requisitionId ,item.slipNumber)"  fill="outline" shape="round" slot="end" aria-label="Show/hide">
                    Accpet Order
                  </ion-button>
                  <ion-button *ngIf="isItemExpanded(i)" (click)="toggleItemView($event, i)" fill="clear" slot="end" aria-label="Show/hide">
                    <ion-icon color="dark" slot="icon-only" name="chevron-up" aria-hidden="true"></ion-icon>
                  </ion-button>
                  <ion-button *ngIf="!isItemExpanded(i)" (click)="toggleItemView($event, i, item.requisitionId,item.team)"  fill="clear" slot="end" aria-label="Show/hide">
                    <ion-icon color="dark" slot="icon-only" name="chevron-down" aria-hidden="true"></ion-icon>
                  </ion-button>
                </div>

              </div>

              <div class="long-view" *ngIf="isItemExpanded(i)">
                <ion-list>
                  <ion-grid>
                    <ion-row *ngFor="let item of unAssignedRequisitionItemLists[i]; let j = index">
                      <ion-col size="8">{{j+1}}. {{ item.partDesciption }}</ion-col>
                      <ion-col>
                        <h6 class="quantity"> {{ item.quantity }}</h6>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-list>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-list>
      </div>
    </div>
    <div *ngIf="segmentValue == 'Assigned'" >
      <ion-list class="main-list">
        <div style="text-align: center;" *ngIf="assignedList.length === 0">
          <p>No Data Found</p>
        </div>
        <ion-card  *ngFor="let item of assignedList; let i = index">
          <ion-card-content>
            <div class="short-view" >
  
              <div class="id-no"  [ngClass]="getRequisitionColor(item.completedPercent)">
                <div style="display: flex;">
                  <h5>Challan No. {{item.slipNumber}}</h5>
                  <ion-badge style="margin-left: 20px;" [ngStyle]="{'background-color': getBadgeColor(item.priority)}">{{ item.priority }}</ion-badge>
                </div>
                <div class="accept">
                  <p>Assigned to  </p>
                  <h6>{{item.team }}</h6>
                  <p style="margin-left: 5px;">on</p>
                  <h6>{{item.assignedDate | date:'mediumDate'}}</h6>
                </div>
              </div>
              <div class="card-end">
                <div class="chart">
                  <app-chart [chartData]="[item.completedPercent,100-item.completedPercent]" [canvasId]="'Assigned' + i"></app-chart>
                </div>
                <ion-button *ngIf="isItemExpanded(i)" (click)="toggleItemView($event, i)" fill="clear" slot="end" aria-label="Show/hide">
                  <ion-icon color="dark" slot="icon-only" name="chevron-up" aria-hidden="true"></ion-icon>
                </ion-button>
                <ion-button *ngIf="!isItemExpanded(i)" (click)="toggleItemView($event, i, item.requisitionId,item.team)"  fill="clear" slot="end" aria-label="Show/hide">
                  <ion-icon color="dark" slot="icon-only" name="chevron-down" aria-hidden="true"></ion-icon>
                </ion-button>
              </div>
  
            </div>
  
            <div class="long-view" *ngIf="isItemExpanded(i)">
              <ion-list>
                <ion-grid>
                  <ion-row *ngFor="let item of RequisitionItemLists[i]; let j = index">
                    <ion-col size="8">{{j+1}}. {{ item.partDesciption }}</ion-col>
                    <ion-col size="2" class="type">
                      <h6 class="type" [ngClass]="item.qcApprovedQuantity < item.quantity ? 'In-Progress' : 'Completed'">
                        {{ item.qcApprovedQuantity < item.quantity ? 'In-Progress' : 'Completed' }}
                      </h6></ion-col>
                    <ion-col>
                      <h6 class="quantity">{{ item.qcApprovedQuantity?item.qcApprovedQuantity:0 }} / {{ item.quantity }}</h6>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-list>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-list>
    </div>

    <div *ngIf="segmentValue == 'InQueueQA'" >
      <ion-list class="main-list">
        <div style="text-align: center;" *ngIf="qaCompletedList.length === 0">
          <p>No Data Found</p>
        </div>
        <ion-card *ngFor="let item of qaCompletedList; let i = index">
          <ion-card-content (click)="activityListPage(item.requisitionId ,item?.slipNumber )">
            <div class="short-view">

              <div class="id-no border">
                <div style="display: flex;">
                  <h5>Challan No. {{item.slipNumber}}</h5>
                  <ion-badge style="margin-left: 20px;" [ngStyle]="{'background-color': getBadgeColor(item.priority)}">{{ item.priority }}</ion-badge>
                </div>
                <div class="accept">
                  <p>Accepted on </p>
                  <h6>{{item.assignedDate | date:'mediumDate'}}</h6>
                </div>
              </div>
              <div class="card-end">
                <ion-button *ngIf="isItemExpanded(i)" (click)="toggleItemView($event, i)" fill="clear" slot="end" aria-label="Show/hide">
                  <ion-icon color="dark" slot="icon-only" name="chevron-up" aria-hidden="true"></ion-icon>
                </ion-button>
                <ion-button *ngIf="!isItemExpanded(i)" (click)="toggleItemView($event, i, item.requisitionId,item.team)"  fill="clear" slot="end" aria-label="Show/hide">
                  <ion-icon color="dark" slot="icon-only" name="chevron-down" aria-hidden="true"></ion-icon>
                </ion-button>
              </div>

            </div>

            <div class="long-view" *ngIf="isItemExpanded(i)">
              <ion-list>
                <ion-grid>
                  <ion-row *ngFor="let item of qaCompletedListItems[i]; let j = index">
                    <ion-col size="8">{{j+1}}. {{ item.partDesciption }}</ion-col>
                    <ion-col size="2" class="type">
                      <h6 class="type">{{ 'Completed' }}</h6>
                    </ion-col>
                    <ion-col>
                      <h6 class="quantity">{{ item.quantity }}</h6>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-list>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-list>
    </div>
    <div *ngIf="segmentValue == 'Rejected'" >
      <ion-list class="main-list">
        <div style="text-align: center;" *ngIf="rejectedList.length === 0">
          <p>No Data Found</p>
        </div>
        
        <ion-card *ngFor="let item of rejectedList; let i = index">
          <ion-card-content >
            <div class="short-view">

              <div class="id-no border">
                <div style="display: flex;">
                  <h5>Challan No. {{item.slipNumber}}</h5>
                  <ion-badge style="margin-left: 20px;" [ngStyle]="{'background-color': getBadgeColor(item.priority)}">{{ item.priority }}</ion-badge>
                </div>
                <div class="accept">
                  <p>Accepted on </p>
                  <h6>{{item.reqAcceptedDate | date:'mediumDate'}}</h6>
                </div>
              </div>
              <div class="card-end">
                <ion-button *ngIf="isItemExpanded(i)" (click)="toggleItemView($event, i)" fill="clear" slot="end" aria-label="Show/hide">
                  <ion-icon color="dark" slot="icon-only" name="chevron-up" aria-hidden="true"></ion-icon>
                </ion-button>
                <ion-button *ngIf="!isItemExpanded(i)" (click)="toggleItemView($event, i, item.requisitionId,item.team)"  fill="clear" slot="end" aria-label="Show/hide">
                  <ion-icon color="dark" slot="icon-only" name="chevron-down" aria-hidden="true"></ion-icon>
                </ion-button>
              </div>

            </div>

            <div class="long-view" *ngIf="isItemExpanded(i)">
              <ion-list>
                <ion-grid>
                  <ion-row *ngFor="let item of rejectedListItems[i]; let j = index">
                    <ion-col size="8">{{j+1}}. {{ item.partDesciption }}</ion-col>
                    <!-- <ion-col size="2" class="type">
                      <h6 class="type">{{ 'Completed' }}</h6>
                    </ion-col> -->
                    <ion-col>
                      <h6 class="quantity">{{ item.quantity }}</h6>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-list>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-list>
    </div>
    <div *ngIf="segmentValue == 'Approved'" >
      <ion-list class="main-list">
        <div style="text-align: center;" *ngIf="approvedList.length === 0">
          <p>No Data Found</p>
        </div>
        <ion-card *ngFor="let item of approvedList; let i = index">
          <ion-card-content >
            <div class="short-view">

              <div class="id-no border">
                <div style="display: flex;">
                  <h5>Challan No. {{item.slipNumber}}</h5>
                  <ion-badge style="margin-left: 20px;" [ngStyle]="{'background-color': getBadgeColor(item.priority)}">{{ item.priority }}</ion-badge>
                </div>
                <div class="accept">
                  <p>Accepted on </p>
                  <h6>{{item.assignedDate | date:'mediumDate'}}</h6>
                </div>
              </div>
              <div class="card-end">
                <ion-button *ngIf="isItemExpanded(i)" (click)="toggleItemView($event, i)" fill="clear" slot="end" aria-label="Show/hide">
                  <ion-icon color="dark" slot="icon-only" name="chevron-up" aria-hidden="true"></ion-icon>
                </ion-button>
                <ion-button *ngIf="!isItemExpanded(i)" (click)="toggleItemView($event, i, item.requisitionId,item.team)"  fill="clear" slot="end" aria-label="Show/hide">
                  <ion-icon color="dark" slot="icon-only" name="chevron-down" aria-hidden="true"></ion-icon>
                </ion-button>
              </div>

            </div>

            <div class="long-view" *ngIf="isItemExpanded(i)">
              <ion-list>
                <ion-grid>
                  <ion-row *ngFor="let item of approvedListItems[i]; let j = index">
                    <ion-col size="8">{{j+1}}. {{ item.partDesciption }}</ion-col>
                    <!-- <ion-col size="2" class="type">
                      <h6 class="type">{{ 'Completed' }}</h6>
                    </ion-col> -->
                    <ion-col>
                      <h6 class="quantity">{{ item.quantity }}</h6>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-list>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-list>
    </div>
  </div>

  <ion-infinite-scroll *ngIf="!finalPage" (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  
</ion-content>