<ion-header>
  <div class="hader">
    <ion-item lines="none" class="header-item">
      <ion-button fill="clear" slot="start" aria-label="Show/hide" (click)="logout()">
        <ion-icon color="dark" slot="icon-only" name="exit-outline" aria-hidden="true"></ion-icon>
      </ion-button>

      <h3 class="ion-text-center">Admin Dashboard</h3>

      <ion-button fill="clear" slot="end" aria-label="Show/hide" (click)="ngOnInit()">
        <ion-icon color="dark" slot="icon-only" name="reload-outline" aria-hidden="true"></ion-icon>
      </ion-button>

      <div class="custom-toggle" slot="end">
        <ion-select slot="end" interface="popover" placeholder="Select" [value]="filter.ReqFrom"
          (ionChange)="segment($event)" class="custom-toggle">
          <ion-select-option value="WPP">WPP</ion-select-option>
          <ion-select-option value="WPR">WPR</ion-select-option>
          <ion-select-option value="CPWPP">CPWPP</ion-select-option>
          <ion-select-option value="CPWPR">CPWPR</ion-select-option>
        </ion-select>
      </div>

      <ion-button id="filter" expand="block" fill="clear" slot="end" aria-label="Show/hide" (click)="openFilter()">
        <ion-icon color="dark" slot="icon-only" name="filter-outline" aria-hidden="true"></ion-icon>
      </ion-button>

    </ion-item>

  </div>
</ion-header>
<ion-content [fullscreen]="true">


  <div class="content">
    <div class="header-title">
      <div class="sub-title">

        <!-- <div>
          <strong class="active">Cost</strong> Overview
        </div> -->
        <div class="dropdown">
          <ion-select class="custom-select" [value]="filter.Status" interface="popover" label-placement="floating"
            shape="round" fill="outline" (ionChange)="onStatusChange($event)">
            <ion-select-option value="Completed">Completed</ion-select-option>
            <ion-select-option value="Ongoing">Ongoing</ion-select-option>
          </ion-select>
        </div>
        <div class="dropdown">
          <ion-select class="custom-select" [value]="'External'" interface="popover" label-placement="floating"
            shape="round" fill="outline" (ionChange)="onCostAnalysisStatusChange($event)">
            <ion-select-option value="External">External</ion-select-option>
            <ion-select-option value="Internal">Internal</ion-select-option>
          </ion-select>
        </div>
      </div>

      <div class="time-period">
        <div>
          <ion-button *ngFor="let period of timePeriods" fill="clear" size="small" [attr.aria-label]="period.label"
            [ngClass]="{'active': selectedPeriod === period.label}" (click)="setActive(period.label)">
            {{ period.label }}
          </ion-button>
          <ion-button *ngIf="selectedPeriod !== 'Custom Date'" fill="clear" size="small" aria-label="Select Custom Date"
            [ngClass]="{'active': selectedPeriod === 'Custom Date'}" (click)="setActive('Custom Date')">
            <ion-icon name="calendar-outline"></ion-icon>
          </ion-button>
        </div>

        <div *ngIf="selectedPeriod === 'Custom Date'" class="custom-date">
          <div class="date">
            <!-- <ion-label>Start Date</ion-label> -->
            <ion-button [ngClass]="{'active': selectedPeriod === 'Custom Date'}" id="startDate-trigger" shape="round"
              label="Start Date" [fill]="sortByName === 'startDate' ? 'solid' : 'outline'">
              <ion-icon name="calendar"></ion-icon>
              {{startDate | date:'mediumDate':'IST'}}
            </ion-button>
          </div>
          <div>
            <!-- <ion-label>End Date</ion-label> -->
            <ion-button [ngClass]="{'active': selectedPeriod === 'Custom Date'}" shape="round" id="endDate-trigger"
              [fill]="sortByName === 'endDate' ? 'solid' : 'outline'">
              <ion-icon name="calendar"></ion-icon>
              {{endDate | date:'mediumDate':'IST'}}
            </ion-button>
          </div>

          <ion-popover mode="md" trigger="startDate-trigger">
            <ng-template>
              <ion-datetime [value]="startDate" (ionChange)="onStartDateChange($event)" [showDefaultButtons]="true"
                presentation="date"></ion-datetime>
            </ng-template>
          </ion-popover>
          <ion-popover mode="md" trigger="endDate-trigger">
            <ng-template>
              <ion-datetime [min]="startDate" [value]="endDate" (ionChange)="onEndDateChange($event)"
                [showDefaultButtons]="true" presentation="date"></ion-datetime>
            </ng-template>
          </ion-popover>
        </div>

      </div>

    </div>

    <div class="header-title">
    <div>
      <strong class="active">Cost</strong> Overview
    </div>
    <div>
      <ion-button class="download-report" fill="outline" shape="round" (click)="downloadReport('CostOverview')">
        Download Report
      </ion-button>
    </div>
  </div>
    <ion-grid>
      <ion-row *ngIf="paintDesc">
        <ion-col *ngFor="let key of objectKeys(paintData)">
          <ion-card class="requisition-card">
            <ion-card-content class="overview">
              <h3>{{ paintData[key].name }}</h3>
              <p>Surface Area In SqFt <b>{{ paintData[key].surfaceAreaInSqFt }}</b></p>
              <p>Weight: <b>{{ paintData[key].weight }}</b></p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>


    <div class="header-title">
      <div class="sub-title">
        <div>
          <strong class="active">Paint Desc Wise</strong> Cost Analysis
        </div>
      </div>
    </div>

    <ion-row *ngIf="paintDesc">
      <ion-col size-xl="2" size="4" *ngFor="let key of getFirstSixKeys(paintDesc)">
        <ion-card class="requisition-card">
          <ion-card-content class="overview">
            <h3>{{ paintDesc[key].name }}</h3>
            <h2>{{ paintDesc[key].amount | number }}</h2>
            <p>Qty in {{ paintDesc[key].type }}: <b>{{ paintDesc[key].quantity | number }}</b></p>
            <p>Rate: <b>{{ paintDesc[key].rate }}</b></p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- Following rows -->
    <ion-row *ngIf="paintDesc">
      <ion-col size="6" size-md="4" *ngFor="let key of getRemainingKeys(paintDesc)">
        <ion-card class="requisition-card">
          <ion-card-content class="overview">
            <h3>{{ paintDesc[key].name }}</h3>
            <h2>{{ paintDesc[key].amount | number }}</h2>
            <p>Qty in {{ paintDesc[key].type }}: <b>{{ paintDesc[key].quantity | number }}</b></p>
            <p>Rate: <b>{{ paintDesc[key].rate }}</b></p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <div class="header-title">
      <div>
        <strong class="active">Active</strong> Requisitions
      </div>
    </div>

    
  <ion-grid>
    <ion-row>
      <ion-col size="6" size-md="4" *ngFor="let item of requisitions">
        <ion-card class="requisition-card">
          <ion-card-content>
            <h2 class="requisition-number">{{ item.count }}</h2>
            <p class="requisition-title">{{ item.name }}</p>
            <a class="view-all" *ngIf="item.name != 'All'" (click)="viewAll(item)">View all &gt;</a>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="header-title">
    <div>
      <strong class="active">Delay</strong> Report
    </div>
    <div>
      <ion-button class="download-report" fill="outline" shape="round" (click)="downloadReport('Delay')">
        Download Report
      </ion-button>
    </div>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size-xl="2" size="4" *ngFor="let team of delayList">
        <ion-card class="requisition-card">
          <ion-card-content class="overview">
            <h3>{{ team.team }}</h3>
            <h2>{{ team.delayedItemCount | number }}</h2>
            <p>Average delay in days: <b>{{ (team.delayInDays ?? 0) | number }}</b></p>
            <p>Top delay in days: <b>{{ (team.topDelayInDays ?? 0) | number }}</b></p>
            <p>Bottom delay in days: <b>{{ (team.bottomDelayInDays ?? 0) | number }}</b></p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="header-title">
    <div>
      <strong class="active">Rework</strong> Report
    </div>
    <div>
      <ion-button class="download-report" fill="outline" shape="round" (click)="downloadReport('Rework')">
        Download Report
      </ion-button>
    </div>
  </div>


  <ion-grid>
    <ion-row>
      <ion-col size-xl="2" size="4" *ngFor="let team of reworkList">
        <ion-card class="requisition-card">
          <ion-card-content class="overview">
            <h3>{{ team.team }}</h3>
            <h2>{{ team.reworkItemCount | number }}</h2>
              <p>Qty in {{ team.unit }}: <b>{{ team.reworkSum | number }}</b></p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  </div>



  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button data-desc="Update Rate Data " aria-label="Refresh App Data" (click)="changearePage()">
        <ion-icon name="clipboard-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button data-desc="Refresh App Data" aria-label="Update Rate Data" (click)="getRequisitionFetch()">
        <ion-icon name="repeat-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button data-desc="Change Password" aria-label="Change Password" (click)="changePassword()">
        <ion-icon name="lock-closed-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button data-desc="Report" aria-label="Report" (click)="showReport()">
        <ion-icon name="document-outline"></ion-icon>
      </ion-fab-button>
      <!-- <ion-fab-button data-desc="Download Master File" (click)="downloadFile()">
      <ion-icon name="cloud-download-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button data-desc="Update Master File"(click)="openFileInput()" >
      <ion-icon name="cloud-upload-outline"></ion-icon>
    </ion-fab-button>
    <input #fileInput type="file" accept=".xlsx, .xls" style="display: none;" (change)="handleFileSelection($event)">
     -->
    </ion-fab-list>
  </ion-fab>


</ion-content>