<ion-content [fullscreen]="true">
  <div class="hader">
    <!-- <ion-item>
      <ion-button fill="clear" slot="start" aria-label="Show/hide" (click)="logout()">
        <ion-icon color="dark" slot="icon-only" name="exit-outline" aria-hidden="true"></ion-icon>
      </ion-button>
      <h3>Admin Dashboard</h3>
    </ion-item> -->
    <ion-item lines="none" class="header-item">
      <ion-button fill="clear" slot="start" aria-label="Show/hide" (click)="logout()">
        <ion-icon color="dark" slot="icon-only" name="exit-outline" aria-hidden="true"></ion-icon>
      </ion-button>

      <h3 class="ion-text-center">Admin Dashboard</h3>

      <ion-segment slot="end" [value]="filter.ReqFrom" mode="md" class="custom-toggle" (ionChange)="segment($event)">
        <ion-segment-button value="WPP">
          <ion-label>WPP</ion-label>
        </ion-segment-button>
        <ion-segment-button value="WPR">
          <ion-label>WPR</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-item>

  </div>

  <div class="content">
    <div class="header-title">
      <div class="sub-title">
        <div>
          <strong class="active">Cost</strong> Overview
        </div>
        <div class="dropdown">
          <ion-select class="custom-select" [value]="filter.Status" interface="popover" label-placement="floating"
            shape="round" fill="outline" (ionChange)="onStatusChange($event)">
            <ion-select-option value="Completed">Completed</ion-select-option>
            <ion-select-option value="Medium">Ongoing</ion-select-option>
          </ion-select>
        </div>
      </div>
      <div class="time-period">
        <ion-button 
          *ngFor="let period of timePeriods" 
          fill="clear" 
          size="small" 
          [attr.aria-label]="period.label" 
          [ngClass]="{'active': selectedPeriod === period.label}" 
          (click)="setActive(period.label)">
          {{ period.label }}
        </ion-button>
        <ion-button 
          fill="clear" 
          size="small" 
          aria-label="Select Custom Date" 
          [ngClass]="{'active': selectedPeriod === 'Custom Date'}" 
          (click)="setActive('Custom Date')">
          <ion-icon name="calendar-outline"></ion-icon>
        </ion-button>
      </div>
      
      
    </div>

    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let key of objectKeys(paintData)">
          <ion-card class="requisition-card">
            <ion-card-content class="overview">
              <h3>{{ key }}</h3>
              <h2>{{ paintData[key].amount | number }}</h2>
              <p>Qty in {{ 'item.unit' }}: <b>{{ paintData[key].quantity | number }}</b></p>
              <p>Rate: <b>{{ paintData[key].rate }}</b></p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>


    <div class="header-title">
      <div class="sub-title">
        <div>
          <strong class="active">Paint Desc Wise</strong> Cost Analysis
        </div>
        <!-- <div class="dropdown">
          <ion-select class="custom-select" [value]="'Completed'" interface="popover" label-placement="floating"
            shape="round" fill="outline" (ionChange)="onStatusChange($event)">
            <ion-select-option value="Completed">Completed</ion-select-option>
            <ion-select-option value="Medium">Ongoing</ion-select-option>
          </ion-select>
        </div> -->
      </div>
      <!-- <div class="time-period">
        <ion-button fill="clear" size="small">
          1D
        </ion-button>
        <ion-button fill="clear" size="small">
          1W
        </ion-button>
        <ion-button fill="clear" size="small">
          1M
        </ion-button>
        <ion-button fill="clear" size="small">
          3M
        </ion-button>
        <ion-button fill="clear" size="small">
          6M
        </ion-button>
        <ion-button fill="clear" size="small">
          1Y
        </ion-button>
        <ion-button fill="clear" size="small">
          <ion-icon name="calendar-outline"></ion-icon>
        </ion-button>

      </div> -->
    </div>
    <!-- size="6" size-md="4"  -->

    <ion-row>
      <ion-col size="6" size-md="4" *ngFor="let key of objectKeys(paintDesc)">
        <ion-card class="requisition-card">
          <ion-card-content class="overview">
            <h3>{{ paintDesc[key].name }}</h3>
            <h2>{{ paintDesc[key].amount | number }}</h2>
            <p>Qty in {{ paintDesc[key].type }}: <b>{{ paintDesc[key].quantity | number }}</b></p>
            <p>Rate: <b>{{ paintDesc[key].rate }}</b></p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>


    <!-- <app-bar-chart canvasId="barChart"></app-bar-chart> -->

    <div class="header-title">
      <div>

        <strong class="active">Active</strong> Requisitions  
        <!-- <strong class="active">Active</strong> Requisitions  ({{this.allItem}})  -->
      </div>
    </div>
    <!-- size="6" size-md="4"  -->
    <!-- <strong class="active">Active</strong> Requisitions -->
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="6" size-md="4" *ngFor="let item of requisitions">
        <ion-card class="requisition-card" >
          <ion-card-content>
            <h2 class="requisition-number">{{ item.count }}</h2>
            <p class="requisition-title">{{ item.name }}</p>
            <a class="view-all" *ngIf="item.name != 'All'" (click)="viewAll(item)">View all &gt;</a>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <ion-grid>
      <ion-row>
        <ion-col  size="6" size-md="4"  *ngFor="let key of objectKeys(paintDesc)">
          <ion-card class="requisition-card">
            <ion-card-content class="overview">
              <h3>{{ key }}</h3>
              <h2>{{ paintDesc[key].amount | number }}</h2>
              <p>Qty in {{ 'item.unit' }}: <b>{{ paintDesc[key].quantity  | number }}</b></p>
              <p>Rate: <b>{{ paintDesc[key].rate }}</b></p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid> -->



  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button data-desc="Refresh App Data" aria-label="Repeat Action" (click)="getRequisitionFetch()">
        <ion-icon name="repeat-outline"></ion-icon>
      </ion-fab-button>
      <!-- <ion-fab-button data-desc="Download Master File" (click)="downloadFile()">
      <ion-icon name="cloud-download-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button data-desc="Update Master File"(click)="openFileInput()" >
      <ion-icon name="cloud-upload-outline"></ion-icon>
    </ion-fab-button>
    <input #fileInput type="file" accept=".xlsx, .xls" style="display: none;" (change)="handleFileSelection($event)">
     -->
    </ion-fab-list>
  </ion-fab>


</ion-content>